$--color-primary: #26D39D;

$add-text-color: #26D39D;
$delete-text-color:#FF5F5F;
// 权限相关页面的css变量配置
$rightContentMargin:1.5% 2%;
$rightContentPadding:20px 30px;
$rigthContentBackgroundColor:#212325;

$dash-line-color: rgb(55, 57, 59);

$timePanelBackgroundColor:rgb(43, 47, 51);

// 设备相关页面的css变量配置
$equLeftMenuWidth:280px;

$fontFamily:"PingFangSC-Regular";
$fontColor:#DDDDDD;

$white15: rgba(255, 255, 255, 0.15);

.succeesTextColor {
  color: $add-text-color;
}

.deleteText {
  color: $delete-text-color;
}

@mixin font-s {
  font-family: $fontFamily;
  font-size: 12px;
  color: $fontColor;
}

@mixin font-m {
  font-family: $fontFamily;
  font-size: 13px;
  color: $fontColor;
}

@mixin font-l {
  font-family: $fontFamily;
  font-size: 16px;
  color: $fontColor;
}

@mixin input30 {
  height: 30px;
  line-height: 30px;
  border: 1px solid $white15;
  border-radius: 2px;
  border-radius: 2px;
  @include font-s;
}

@mixin button30 {
  height: 30px;
  padding: 7px 20px;
  background: rgba(40, 255, 187, 0.12);
  border: 1px solid rgba(40, 255, 187, 0.80);
  border-radius: 2px;
  border-radius: 2px;
}

@mixin buttonnoborder {
  border: none;
  background-color: transparent;
  color: $--color-primary;

  img {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.margin {
  margin: 20px 0px;
}



.dash-line {
  height: 1px;
  background:linear-gradient(to right, #{$dash-line-color} 50%, transparent 50%);
  background-size: 8px 2px;
  background-repeat: repeat-x;
}


// $activemenubg:rgba(40, 255, 187, 0.15);
// $activemenuborder:rgba(40, 255, 187, 0.80);
$activemenubg:rgba(37, 72, 66, 1);
$activemenuborder:rgba(40, 255, 187, 0.80);

.activeMenu {
  position: relative;
  border: 1px solid $activemenuborder !important;
  background: $activemenubg !important;
  color: #fff !important;
  box-sizing: border-box;
  border-radius: 2px 2px 0px 0px 0px 2px 2px;
}

.activeMenu::before,
.activeMenu::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  border-left: 8px solid $activemenubg;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 1;
}

.activeMenu::after {
  right: -10px;
  border-left: 10px solid $activemenuborder;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 0;
}

.el-switch__core:after {
  background: $add-text-color;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: $add-text-color !important;
}
